<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Dev</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <a href="{% url 'home' %}" class="logo">Portifólio</a>
        <nav>
            <ul>
                <li><a href="{% url 'sobre' %}">Sobre</a></li>
                <li><a href="{% url 'projetos' %}">Projetos</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-content">
        <section class="hero">
            <h1>Bem-vindo, ao meu portifólio!</h1>
            <p> QUALITY ASSURANCE |  BACK-END</p>
            <button class="button" onclick="window.location.href='{% url 'projetos' %}'">Projetos</button>
        </section>
    </div>
</body>
</html>
